<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/commonMenu.css">
</head>

<body>
    <!--メニュー-->
    <section id="menu">
        <img src="images/close.png" alt="閉" id="closeMenu" class="button">
        <div>
            <img src="images/search.png" alt="書架" id="searchBook">
            <img src="images/color.png" alt="検索" id="searchColor">
            <img src="images/note.png" alt="記録" id="searchPost">
            <img src="images/logout.png" alt="退館" id="logout">
        </div>
    </section>
    <!--メニューアイコン-->
    <img src="/images/menu.png" alt="→" id="menuIcon" class="button">
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--作成-->
    <script src="javascripts/commonMenu.js"></script>
</body>

</html>