<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/book_red.png">
    <link rel="stylesheet" href="stylesheets/menu.css">
    <title>雲雀文庫：案内</title>
</head>

<body>
    <!--ようこそ-->
    <section id="welcome">
        <div>
            <img src="images/main.png" alt="雲雀文庫">
        </div>
        <div class="message">
            <b>ようこそ。<%=id %>様。 </b>
            <div>
                <p id="searchBook" class="button">書架へ</p>
                <p id="searchColor" class="button">検索へ</p>
                <p id="searchPost" class="button">記録へ</p>
            </div>
        </div>
    </section>
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--作成-->
    <script src="javascripts/menu.js"></script>
</body>

</html>