/*全体*/
*{
    font-family: 'はれのそら明朝';
    color: #583822;
}
:focus {   /*フォーカス時に反応しない：https://www.nishishi.com/css/chrome-textform-clear-border.html*/
    outline: none;
}
.button{
     cursor: pointer;
}
/*各セクション*/
section{
    display:flex;
    justify-content: center; 
    align-items:center;
    height:100vh;
    overflow: hidden;
}
/*ようこそーーーーーーーーーーー*/
#welcome{
    background-color: #f8f4e6;
    /*background:url('../images/yabane.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;*/
}
#welcome div{
    padding:5%;
}
.message{
    width:400px;
}
.message b{
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 2px dotted #583822;
}
.message div{
    margin:10px;
}
.message p{
    font-size: 20px;
    margin-bottom:30px;
    width:100px;
}
.message p:hover{
    /*border-bottom: 2px dotted #c85554;*/
    color:#c85554;
    transition: all 0.2s;
}